<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="64EEB774-E412-468B-A7EC-FD6496B3C1B2"
    UpgradeCode="FBEE5704-FB6B-40DB-90FC-6F454FC61860"
    Name="Auto Nice" Manufacturer="markdevel"
    Language="1041" Codepage="932" Version="1.0.0.0">
		<Package Id="*" InstallerVersion="200" Languages="1041" SummaryCodepage="932" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    <?define redist = "$(env.ProgramFiles)\Microsoft Visual Studio 11.0\VC\redist\$(sys.BUILDARCH)" ?>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    
		<Feature Id="ProductFeature" Title="setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UIRef Id="WixUI_ErrorProgressText" />
    <UIRef Id="WixUI_Minimal" />

    <?if $(sys.BUILDARCH) = x86 ?>
    <Condition Message="Cannot install this package (for 32 bit OS) to 64 bit OS.">
      <![CDATA[Installed OR Not VersionNT64]]>
    </Condition>
    <?endif?>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(sys.BUILDARCH) = x64 ?>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="autonice" />
			</Directory>
      <?else?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="autonice" />
      </Directory>
      <?endif?>
      <Directory Id="ProgramMenuFolder" Name="Programs" />
    </Directory>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="vcredist" Guid="D710F5B7-AE49-4C8D-B075-000000000000">
        <File Id="msvcr110.dll" Name="msvcr110.dll" Source="$(var.redist)\Microsoft.VC110.CRT\msvcr110.dll" />
        <File Id="msvcp110.dll" Name="msvcp110.dll" Source="$(var.redist)\Microsoft.VC110.CRT\msvcp110.dll" />
        <!-- <File Id="mfc110.dll" Name="mfc110.dll" Source="$(var.redist)\Microsoft.VC110.MFC\mfc110.dll" /> -->
        <File Id="mfc110u.dll" Name="mfc110u.dll" Source="$(var.redist)\Microsoft.VC110.MFC\mfc110u.dll" />
        <File Id="mfc110jpn.dll" Name="mfc110jpn.dll" Source="$(var.redist)\Microsoft.VC110.MFCLOC\mfc110jpn.dll" />
      </Component>

      <Component Id="autonice.exe" Guid="D710F5B7-AE49-4C8D-B075-830A24966C59">
        <File Id="autonice.exe" Name="autonice.exe" Source="$(var.autonice.TargetPath)" />
        <ServiceInstall Id="SERVICEINSTALLID" Name="autonice" DisplayName="Auto Nice Service" Description="Process Priority Monitor Service" Start="auto" Type="ownProcess" Vital="yes" ErrorControl="normal" />
        <ServiceControl Id="SERVICECONTROLID" Name="autonice" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Component Id="autongui.exe" Guid="D710F5B7-AE49-4C8D-B075-830A24966C5A">
        <File Id="autongui.exe" Name="autongui.exe" Source="$(var.autongui.TargetPath)" />
        <Shortcut Id="ApplicationStartMenuShortcut"
            Name="Auto Nice" Directory="ProgramMenuFolder"
            WorkingDirectory="INSTALLFOLDER" Advertise="yes">
          <Icon Id="autongui.exe" SourceFile="$(var.autongui.TargetPath)"/>
        </Shortcut>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
